.form {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -40px;
}

.img-background {
    background-image: url('img/img-homepage.jpg');
    background-size: cover;
    height: 350px;
    width: 100%;
}

.img-mureta {
    background-image: url('img/img-mureta.png');
    height: 45px;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 22% 55% 21%;
    grid-gap: 1%;
    padding: 10px;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3,
a,
button,
input {
    font-family: 'Plus Jakarta Sans';
}

button {
    padding: 10px;
    font-size: medium;
    transition: 0.4s;
    display: inline-block;
    border: 0;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    border-radius: 12px;
    border: 0;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-border-start {
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
}

.btn-border-end {
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
}

.btn-menu {
    border: 1.5px solid #a4a3ab;
    color: rgb(0, 0, 0);
    padding: 15px;
}

.btn-menu:hover {
    background-color: #cccbd2;
}

.btn-style {
    background-color: #31afe1;
    color: white;
    border-radius: 12px;
}

.btn-style:hover {
    background-color: #2681d6;
}

.txt-login {
    width: 45%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    color: white;
}

.main-txt-container {
    display: flex;
    width: 100%;
    max-width: 600px;
    height: 40px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr 1fr 0.2fr 1fr 1fr;
    justify-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #a4a3ab;
    transition: 0.3s;
    width: 90%;
    border-radius: 12px;
    max-height: 300px;
    background-color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 55%;
}

.container {
    padding: 8px 16px;
    width: 100%;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.fade-in {
    animation: 1.5s fadeInUp;
}

.bottom-row {
    background-color: #247895;
    margin-top: auto;
    width: 100%;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.gap-5 {
    column-gap: 5%;
}